:root {

  --headerBgColor: rgb(48, 49, 51);

  --borderColor: #DCDFE6;

  /*字体样式*/  
  --fontColor: #000000;
  --fontSize: 16px;

}

.el-divider{
  background-color: var(--headerBgColor)
}
.el-divider--horizontal{
  margin-top: 0;
}

.el-popover{
  min-width: 100px !important;
}